body {
    justify-content: center;
    align-content: center;
    height: 60vh;
}

h1 {
    text-align: center;
    animation-duration: 1s;
}

h1:hover {
    filter: blur(2px);
}

a {
    color: inherit;
    text-decoration: none;
}

.back-link {
    text-align: center;
    animation-duration: 1s;
}

.back-link:hover {
    filter: blur(2px);
}

.container {
  display: flex;
  min-height: 100vh;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

#left {
    background-color: rgb(215, 245, 255);
}

#right {
    background-color: rgb(137, 140, 173);
}