body {
    justify-content: center;
    align-content: center;
    height: 60vh;
}

nav {}


h1 {
    text-align: center;
    animation-duration: 1s;
}

h1:hover {
    filter: blur(2px);
}

a {
    color: inherit;
    text-decoration: none;
}

column {
    display: flexbox;
}

left-column {
    justify-content: left;
}

right-column {
    justify-content: right;
}